body {
    font-family: "Work Sans", sans-serif;
}

h2 {   
	color: #ec0909;
	text-align: center;
    margin: auto;
    padding: 0.5rem;
	
}

header {
	border-radius: 0.5rem;
    background-color: #1e0366;
	color: rgb(223, 205, 205);
	text-align: center;
    margin: auto;
    padding: 0.5rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    justify-items: center;
}

section {
    width: 80%;
    
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 1fr;
    grid-gap: auto;
    justify-items: center;;
    margin: 1rem;
    background-color: rgb(230, 219, 219);
    padding: 0 1rem;
}

img {
    width: 80%;
    height: auto;
    
}


p {
    padding: auto;
    width: 80%;
}


footer {
	
    background-color: #1f0263;
    color: aliceblue;
    padding: 20px;
    text-align: center;
    font-size: large;
	margin: 5px;
    padding: 0.5rem;
	
}
