*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue; 
    margin: 30px auto;
    text-align: center;
    line-height: 4rem;
    width: 650px;
    padding: 25px;
    border-radius: 30px;
    border: 5px solid #03045e;
    box-shadow: 5px 5px 15px #03045e;
}
figcaption {
    text-transform: capitalize;
    font-size: 1.3rem;
}

h1, p, footer {
    font-family: Lato, sans-serif;
    color: #03045e;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    color: #f77f00;
}

p {
    font-size: 1.5rem;
}

img {
    width: 80px;
}

footer a {
    text-decoration: none;
    color: #f77f00;
}