
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}


body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    background-color: aliceblue;    
}

img {
    width: 100%;
    height: auto;
    
}

header {
    display: grid;
    grid-template-columns: 75px 1fr 60px 40px;
    grid-template-rows: 1fr 20px;
    gap: 10px;
    align-items: center;
    padding: 20px;
    background-color: #03045e;
    color: white;
}

header div {
    display: flex; 
    gap: 5px;
    margin: auto;
}

header p {
    grid-column: 1/5;
    text-align: center;
    background: linear-gradient(0.25turn, #f77f00, #faf2d6, #ffffff, #faf2d6, #f77f00);
    color: #03045e;
    font-weight: bolder;
    font-size: 20px;
    border: 2px solid #03045e;
    padding: 10px 0px;
    box-shadow: 3px 3px 10px #f77f00;
    
}

main {
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
}
h1 {
    font-size: 24px;
    line-height: 1;
    padding: 5px;
    font-family: 'Loto', sans-serif;
   
}

h2 {
    color: white;
    font-size: 25px;
    font-family: 'Loto', sans-serif;
    
}

#cc {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: block;
    position: relative;
    margin: 20px auto;
}

nav ul {
    list-style-type: none;  
    padding: 0; 
    margin: 0;  
}

#primaryNav {
    position: absolute;
    top: -20px;
    right: 30px;
    border: 2px solid #03045e;
}

#primaryNav .active {
    text-decoration: 2px overline solid #03045e;
    font-weight: bold;
}

nav button {
    background: transparent;
    border: 1px solid #f77f00;
    font-size: 1.5rem;
    color: #e5f0f0;
    padding: 2px 6px;
    box-shadow: 3px 3px 10px rgb(18, 8, 160);
}

nav ul li a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
    color: #03045e;
    background-color: #b1d3d3;
    border-top: 1px solid rgb(18, 8, 160);
}

nav ul li a:hover {
    background: linear-gradient(0.25turn, #f77f00, #faf2d6, #ffffff, #faf2d6, #f77f00);
}

nav ul { 
    display: none;}
nav ul.open {
    display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

#hamburgerBtn:hover { 
    color: #f77f00;
    background: linear-gradient(0.25turn, #e5f0f0, #e5f0f0, #e5f0f0);
}

main {
    background-color: #e5f0f0;  
}

#banner {
    display: none;
    text-align: center;
    color: #03045e;
    border: 4px outset #f77f00;
    border-style: solid;
    border-width: 5px 20px;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Works Sans', sans-serif;
    font-weight: bold;
    line-height: 1.1;
    
}

#close {
    background-color: #f77f00;
    padding: 3px;  
    
}

/* Mobile Layout (Grid) */
.containers {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.containers div{
    padding: 10px;
}

.welcome {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 0;
    color: #f77f00;
    background-color: #e5f0f0;
}

.box1 {
    position: relative;
}

.box1 img {
    height: 100%;
}

.containers div .joinbtn {
    position: absolute;
    bottom: 30px;
    left: 40px;
    background-color: #f77f00;
    padding: 7px;
    box-shadow: 3px 3px 10px rgb(10, 12, 134);
    font-family: 'Works Sans', sans-serif;
    font-size: 16px;
}

.joinbtn a {
    color: white;
    text-decoration: none;
}

.containers .joinbtn:hover {
    background-color: #03045e;
    color: white;
}

.event {
    position: absolute;
    width: 100%;
    top: 20px;   
    padding: 5px 15px 5px 30px;
    background-color: #f77f00;
}

.even, p {
    bottom: 20px;
}

.box2 {
    position: relative; 
    height: auto;  
}

.box2 p {
   position: relative; 
   top: 5px;  
   left: 10px;
   right: 10px;
}

.weather {
    position: relative;
    width: 100%;
    top: 5px;
    left: 0px;
    padding: 5px 5px 5px 5px;
    background-color: #03045e;
}

.box3 {
    position: relative;
}

.box3 .temp-box {
    border: none;
    text-align: center;
    color: #03045e;
    height: 90%;
    font-family: 'Works Sans', sans-serif;
}

#weathericon {
    border: none;
    box-shadow: none;
    color: #03045e;
    font-weight: bold;
    font-family: 'Works Sans', sans-serif;
}

figcaption {
    text-transform: capitalize;
    margin-top: -20px;
    font-weight: bold;
    font-family: 'Works Sans', sans-serif;
}

#weathergrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none;
    box-shadow: none;
    color: #f77f00;
    font-weight: bold;
    font-family: 'Works Sans', sans-serif;
}

#weather1 {
    font-size: 35px;
    font-weight: bold;
    color: #f77f00;
    grid-column: 1/1;
    font-family: 'Works Sans', sans-serif;
}

#weather2, #weather3 {
    grid-column: 1/3;
    line-height: auto;
    font: 16px;
    line-height: 1.99;
    color: #03045e;
    font-family: 'Works Sans', sans-serif;
}

#weather4 {
    color: #03045e;
    font-family: 'Works Sans', sans-serif;
}

.news {
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0px;
    margin-left: 10px;
    padding: 5px 15px 5px 30px;
    background-color: #03045e;
} 

.box4 {
    position: relative;
}

.box4 img {
    height: auto;
    margin: auto;
    padding: auto;
}

.box4 p a {
    color: #03045e;
    text-decoration: none;
}

.box5 p{
    background-color: #e5f0f0;
    padding-top: 10px;
}
.join {
    position: absolute;
    background-color: #f77f00;
    margin-left: 10px;
    padding: 5px 15px 5px 30px;
    text-align: center;

}
.deliverable {
    position: absolute;
    width: 100%;
    top: 20px;
    left: -1px;
    margin-left: 10px;
    padding: 5px 15px 5px 30px;
    text-align: center;
    background-color: #03045e;
}

.split1 {
    position: relative;
}

.split1 p {
    color: black;
    padding: 5px 0px;
}

.cool {
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0px;
    padding: 5px 15px 5px 30px;
    background-color: #f77f00;
    font-size: 25px;
    margin-left: 10px;
}

.split2 {
    position: relative;
}

.split2 p {    
    padding: 5px 0px;
}

.coffee {
    position: absolute;
    width: 100%;
    top: 20px;
    margin-left: 10px;
    left: 0px;
    padding: 5px 15px 5px 30px;
    background-color: #03045e;
}
.split3 {
    position: relative;
}
.split3 p {    
    padding: 5px 0px;
}

.box1, .box2, .box3, .box4, .box6 {
    background-color: #e5f0f0;
    padding: 10px;
}

.box6 p {
    line-height: 1.5;
    font-size: 1rem;
  }

.box6 {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 10px;
    height: 100%;
    grid-row: 5/7;  
}

.box6 div:nth-child(3) {
    display: none;
  }

.material-icons {
    color: #f77f00;
}

footer section {
    display: grid;
    text-align: center;
    padding: 10px;
    background-color: #03045e;
    color: white;
}

.address {
    line-height: 1.5rem;
    padding-bottom: 10px;
   
}

footer a {
    text-decoration: none;
    color: #f77f00;
   
}

footer .urlsite {
    line-height: 2rem;
}

footer #lastline {
    text-align: center;
    font-size:  16px;
    padding: 10px;   
    background-color: #f77f00;
    color: #e5f0f0;
    font-size: 1.5rem;
    margin: auto;
    padding: 10px;
	text-shadow: 0 10px 10px rgb(0, 0, 0);
    
}

/*........................................DISCOVER................................*/

.discover {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px
}

.discover div {
    background-color: aliceblue;
    padding: 10px;
    
}

.discover-title {
    padding: 30px 30px 0px 30px;
    text-align: center;
}

.stats {
    padding: 10px;
    color: white;
    background-color: #03045e;
    box-shadow: 3px 3px 10px rgb(145, 83, 3);
}

.discover-title p {
    padding: 20px 20px 10px 20px;
}

.discover p {
    padding: 10px;
  
}

.discover1 h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #f77f00;
}

.discover2 h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #03045e;    
}


.discover3 h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #f77f00; 
}


.discover4 h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #03045e;    
}


.discover5 h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #f77f00;   
}


.discover6 h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #03045e;
}


.discover7>h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #03045e;
}

.h1 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #f77f00;
}

.h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #03045e;
}

.h3 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #f77f00;
}

.h4 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #03045e;
}

.h5 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #f77f00;
}

.h6 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    color: #03045e;
    background: linear-gradient(0.25turn, #f77f00, #faf2d6, #ffffff, #faf2d6, #f77f00);
}

.discover7 .border {
    margin-bottom: 30px;
}

.discover7 .bottom {
    margin: 0px;
}

.discover7 img {
    filter: blur(0em);
    transition: filter 0.5s;
}

.pics {
    height: 100%;
    width: 100%;
    transition: filter 0.5s;
}

.discover7 p {
    padding: 10px;
}


.discover7 .photo-gal {
    padding: 10px;
    margin: 10px 10px 20px 10px;
    text-align: center;
}


/***********************JOIN PAGE**********************/

.dan {
    font-family: 'Loto', sans-serif;
    text-shadow: 0 3px 3px #32292F;
    color: white;
    background-color: #03045e;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.member1 {
    color: #f77f00;
}

.member2 {
    color: #03045e;
}

.member3 {
    color: #f77f00;
}

.member4 {
    color: #03045e;
}

.member5 {
    color: #f77f00;
}

.class1 {
    color: #03045e;
}

.class2 {
    color: #f77f00;
}

.class3 {
    color: #03045e;
}

form fieldset {
    margin: 10px;
    border: 1px solid black;
    padding: 20px;
    background-color: aliceblue;
    
}

form legend {
    margin-bottom: auto;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    
}

form label.top, form div {
    display: block;
    font-size: 1rem;
    margin: 20px;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: 1px solid black;
    border-radius:  4px;
    padding: .75rem;
    width: 100%;
    max-width: 45rem;
    background-color: #f8f7ff;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    
}

form input.submitBtn {
    border: 1px solid #f77f00;
    background-color: #03045e;
    color: white;
    font-size: 16px;
    border-radius: 1rem;
    padding: 10px 40px;
    margin: 10px;
    width: 96%;
    max-width: 45rem;
    box-shadow: 3px 3px 10px rgb(23, 3, 134);
    cursor: pointer;
}

.submitBtn {
    padding: 20px;
    margin: 20px;
}

.submitBtn:hover {
   background-color: #f77f00;
   color: white;
   padding: 15px;
   margin: 15px;
}
form label.top input:required {
    border-left: rgb(201, 93, 93) solid 6px;
}

form label.top input:required:valid {
    border-left: rgb(6, 167, 68) solid 6px;
}

form section {
    padding: 10px;
}

form textarea {
    width: 100%;
    max-width: 45rem;
    height: 10rem;
    max-width: 45rem;
    background-color: #f2f2f2;
    border: 1px solid #03045e;
}

#jointitle {
    padding: 10px;
    margin: 20px 20px 0px 20px;    
    text-align: center;
}

#memberlevels {
    display: grid;
    margin: 20px;
    background-color: aliceblue;
    padding: 10px;
    
}

.memberinfo {
    margin: 0px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
       
}


 .memberinfo h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -37px;
    font-size: 30px;
 }

 .memberinfo li {
     padding: 3px 10px 3px 0px;
 }

 .infobox {
    padding: 10px 10px 10px 25px;
    
    
 }

 .infobox h3 {
     padding: 0px 0px 10px 0px;
     font-size: 16px;
    
 }

#leveltitle h2 {
     text-align: center;
     padding: 10px;
     margin: 10px 10px 20px 10px;
    
 }


/******************THANK YOU PAGE**********************/
.thankyou {
    
    padding: 10px;
    margin: 75px;
    background-color: aliceblue;
    text-align: center;
    line-height: 1.9rem;
    box-shadow: 3px 3px 10px rgb(32, 3, 136);
}

.thankyou2 {
    
    padding: 10px;  
    background-color: aliceblue;
    text-align: center;
    
}

.thankyou2 h3 {
    padding: 10px;
    color: #f77f00;
    font-family: 'Work san', sans-serif;
}

.thankyou2 p {
    padding: 0px 10px 20px 10px;
}

/***********************DIRECTORY PAGE STYLING**********************/

#directorytitle {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #f77f00;
    margin: 20px 0px 10px 0px;
    padding: 10px;
}

.gridListBtns {
    text-align: center;
}

#grid, #list {
    padding: 15px 40px;
    font-family: 'Works Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    background: linear-gradient(0.25turn, #f77f00, #faf2d6, aliceblue, #faf2d6, #f77f00);
    border: 2px solid #03045e;
    box-shadow: 3px 3px 10px rgb(5, 3, 128);
}

.groups div {
    background-color: aliceblue;
    border: 2px solid #03045e;
    box-shadow: 3px 3px 10px rgb(5, 3, 128);
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 10px 10px 20px 10px;
}

.groups img {
    height: 100px;
    width: 150px;
}

 .groups h2 {
    color: #f77f00;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}


/***********************LIST STYLING**********************/
div.groups.list {
    display: grid;
}

.list div {
    padding: 15px;
    margin: 10px;
}

.list div img {
    display: none;
}


/***********************GRID STYLING**********************/

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 7px;
}

.grid div {
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 10px 20px 20px 20px;
}

/*.................................CONTACT PAGE.............................*/
p strong {
    color: #f77f00;
    font-family: 'Lato', sans-serif;
}

.contact-grid {
    display: grid;
    margin: 20px;
    background-color: aliceblue;
    padding: 10px;
    box-shadow: 5px 3px 10px #03045e;
}

.contact-grid h2 {
    font-family: 'Lato', sans-serif;
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #03045e;
}

#pg-title {
    padding: 10px;
    margin: 20px 20px 0px 20px;
    text-align: center;
}


.mem-info {
    margin: 0 auto;
    max-width: 40rem;
  }

.contact-grid {
    display: grid;
    margin: 20px;
    background-color: aliceblue;
    padding: 10px;
    color: #03045e;
    
}

.contact-box, .contact-img {
    padding: 10px;
    margin-bottom: 10px;
}

.contact-grid h2 {
    font-family: 'Lato', sans-serif;
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
}

#pg-title {
    padding: 10px;
    margin: 20px 20px 0px 20px;
    text-align: center;
    color: #f77f00;
}

.contact-img {
    float: left;
    position: absolute;
}

.information{
    color: #f77f00;
}

.send {
    padding: 10px;
    margin: 20px 20px 0px 20px;    
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #03045e;
    border-radius: 10px;
    border-bottom: 10px solid #f77f00;
    border: 5px solid #03045e
}

.send:hover {
    background-color: #f77f00;
    color: #f2f2f2;
}
