
h1 {
    margin: 0 2vw;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}
nav {
    background-color: #eee;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}