body {
    font-family: 'Work san', sans-serif;
    font-size: 16px;
    text-align: center;
}

h1, h2 {
    font-family: 'Work san', sans-serif;
    text-align: center;
    color: white;
    padding: 20px;
    background-color:  #03045e;
  
}

h1 {
    font-size: 2.7rem;
}

p {
    margin: 3px 0;
    padding-bottom: 4px;
    font-size: 16px;
    color: #03045e;
}

img {
    width: 80%;
    margin: 10px auto 5px;
    display: block;
    box-shadow: 0px 0px 15px #03045e;
}

main {
    box-shadow: 0px 0px 10px #03045e;
    padding: 1rem;
    margin: 0 auto;
    background-color: aliceblue;
    max-width: 1500px
}

section {
    background: linear-gradient(0.50turn, #e7e7e4, aliceblue);
    border: 3px solid #03045e;
    padding-bottom: 12px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 7px;
}


footer {
    font-family: 'Work san', sans-serif;
    text-align: center;
    color: white;
    padding: 20px;
    background-color: #f77f00;
  
}
